body{
    background:linear-gradient(to left , #1e621e, #123b12);
}


.aboutUsMain{
    display: grid;
    grid-template-areas:
    "aboutUsTitle"
    "aboutUsDogImage1"
    "aboutUsText1"
    "aboutUsQuote1"
    "aboutUsDogImage2"
    "aboutUsText2"
    "aboutUsQuote2"
    "aboutUsText3"
    "aboutUsDogImage3"
    "aboutUsBottomFill";
    grid-template-columns: 1fr;
    width: 100vw;
    margin: auto;
    background-color: white;
    border-left: 0.2em solid black;
    border-right: 0.2em solid black;
}

.aboutUsTitle {
    grid-area: aboutUsTitle;
    color: #123b12;
    padding: 1em 0 1em 2em;
    -webkit-text-stroke: 0.1em #123b12;
    display: flex;
}

.flexboxTitle{
    justify-content: space-between;
    z-index: 20;
}

.titleBurger{
    color: #123b12;
    display: block;
    font-size: 2rem;
    position: absolute;
    right: 8%;
    top: 0.66em;
}

.fullScreenBurger{
    display: none;
}

.flexboxTitle{
    display: flex;
}
.aboutUsTitle img{
    display: block;
    margin-right: 0.5em;
}

.largescreenLogo{
    display: none;
}


.aboutUsBox{
    padding: 0 2em 1em 2em;
    height: 9em;
    background-color: white;
}

.aboutUsBoxQuote{
    padding: 0 2em 0.5em 2em;
    height: 5em;
    background-color: white;
}

.aboutUsBoxContent{
    margin-top: 1em;
    margin-left: 0.8em;
}

.aboutUsDogImage h2{
    color: white;
    font-size: 2em;
    position: relative;
    left: 5%
}

.aboutUsDogImage1{
    grid-area: aboutUsDogImage1;
    background-image: url("../images/proudDoggo.jpg");
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.4);
    height: 16em;
    background-size: cover;
    background-position: 0% 0%;
}
.aboutUsDogImage2{
    grid-area: aboutUsDogImage2;
    background-image: url("../images/happyMlem.jpg");
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.4);
    height: 16em;
    background-size: cover;
    background-position: center;
    transform: scaleX(-1);
}
.aboutUsDogImage3{
    grid-area: aboutUsDogImage3;
    background-image: url("../images/tired.jpg");
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.4);
    height: 16em;
    background-size: cover;
    background-position: center;
}

.aboutUsQuote1{
    grid-area: aboutUsQuote1;
    color: #123b12;
}
.aboutUsQuote2{
    grid-area: aboutUsQuote2;
    color: #123b12;
}
.aboutUsBottomFill{
    grid-area: aboutUsBottomFill;
}
.aboutUsText1{
    grid-area: aboutUsText1;
}
.aboutUsText2{
    grid-area: aboutUsText2;
}
.aboutUsText3{
    grid-area: aboutUsText3;
}


@media only screen and (min-width: 48em){
    .aboutUsMain{
        grid-template-areas: 
        "aboutUsTitle aboutUsTitle aboutUsTitle"
        "aboutUsText1 aboutUsText1 aboutUsDogImage1"
        "aboutUsQuote1 aboutUsQuote1 aboutUsDogImage1"
        "aboutUsDogImage2 aboutUsText2 aboutUsText2"
        "aboutUsDogImage2 aboutUsQuote2 aboutUsQuote2"
        "aboutUsText3 aboutUsDogImage3 aboutUsDogImage3"
        "aboutUsText3 aboutUsDogImage3 aboutUsDogImage3"
        "aboutUsHeh aboutUsHeh aboutUsDogImage"
        "aboutUsBottomFill aboutUsBottomFill aboutUsBottomFill";
        grid-template-columns: 1fr 1fr 1fr;
        width: 45em;
    }

    .aboutUsTitle {
        padding: 2em 0 -5em 2em;
    }

    .aboutUsText{
        padding-top: 0;
    }

    .aboutUsBox{
        height: 8.5em;
    }

    .aboutUsDogImage1{
        grid-area: aboutUsDogImage1;
        background-image: url("../images/proudDoggo.jpg");
        height: 16em;
        background-size: cover;
        background-position: 30% 0%;
    }
    .titleBurger{
        right: 8%;
        top: 0.66em;
    }
}

@media only screen and (min-width: 54em){
    .aboutUsTitle img{
        display: none;
    }
    
    .largescreenLogo{
        display: block;
    }

    .titleBurger{
        color: #123b12;
        display: none;
    }

    .fullScreenBurger{
        display: block;
    }
    
}