body{
    background:linear-gradient(to left , #1e621e, #123b12);
}

.contactMain{
    display: grid;
    grid-template-areas:
    "contactTitle"
    "contactMap"
    "contactText"
    "contactInfo"
    "contactStore"
    "contactBottomFill";
    grid-template-columns: 1fr;
    width: 100vw;
    height: 100%;
    margin: auto;
    background-color: white;
    border-left: 0.2em solid black;
    border-right: 0.2em solid black;
}

.topcontactBox{ 
    font-family: 'Nunito', sans-serif;
    color: white;
    background-color: #123b12;
    border-radius: 1em;
    padding: 0.5em 1em;
    display: flex;
}

.topcontactBox i {
    padding-right: 0.3em;
    padding-top: 0.15em;
}

.contactTitle {
    grid-area: contactTitle;
    color: #123b12;
    padding: 1em 0 1em 2em;
    -webkit-text-stroke: 0.1em #123b12;
    display: flex;
}

.flexboxTitle{
    justify-content: space-between;
    z-index: 20;
}

.titleBurger{
    color: #123b12;
    display: block;
    font-size: 2rem;
    position: absolute;
    right: 0.8em;
    top: 0.66em;
}

.fullScreenBurger{
    display: none;
}

.flexboxTitle{
    display: flex;
}
.contactTitle img{
    display: block;
    margin-right: 0.5em;

}

.largescreenLogo{
    display: none;
}

.contactBox{
    padding: 0 2em 1em 2em;
    height: 9em;
    background-color: white;
}

.contactBoxContent{
    margin-top: 1em;
    margin-left: 0.8em;
}

.contactMap{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    grid-area: contactMap;
    margin-bottom: 0.8rem;
}
.contactMap iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.contactInfo{
    grid-area: contactInfo;
}

.contactText{
    grid-area: contactText;
}

.contactStore{
    grid-area: contactStore;
}


.contactBottomFill{
    grid-area: contactBottomFill;
    background-color: white;
    display: flex;
    padding: 0 2.2em 1em;
    height: 5em;
    justify-content: space-between;
}

.contactBall{
    height: 2em;
    width: 2em;
    background-color: #123b12;
    border-radius: 3em;
}

@media only screen and (min-width: 48em){
    .contactMain{
        grid-template-areas: 
        "contactTitle contactTitle contactTitle"
        "contactMap contactMap contactMap"
        "contactInfo contactText contactStore"
        "contactBottomFill contactBottomFill contactBottomFill";
        grid-template-columns: 1fr 1fr 1fr;
        width: 45em;
    }

    .contactTitle {
        padding: 2em 0 -5em 2em;
    }

    .contactText{
        padding-top: 0;
    }

    .contactDogImage{
        height: 100%;
        margin: 0;
        grid-area: contactDogImage;
        background-size: cover;
        background-position: 35% 0%;
    }
    .contactBox{
        height: 12em;
    }

    .contactDogImage h2{
        display: none;
    }
    .titleBurger{
        right: 2.5em;
        top: 0.66em;
    }
}
@media only screen and (min-width: 54em){
    .contactTitle img{
        display: none;
    }
    
    .largescreenLogo{
        display: block;
    }

    .titleBurger{
        color: #123b12;
        display: none;
    }

    .fullScreenBurger{
        display: block;
    }
    
}